body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Delius", sans-serif;
    font-size: smaller;
    color: rgb(87, 86, 86);
}

.header {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    background-image: url(image.png); /* Replace with your image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
}
